<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body>
<!--<script>-->
<!--    let user = prompt("user", '');-->
<!--    let pass = prompt("pass", '')-->
<!--    if(user != 'admin' || pass != 'admin'){-->
<!--        alert("NOOOO")-->
<!--        document.location.replace('http://127.0.0.1:8000/');-->
<!--    }-->
<!--</script>-->
  <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
        <form action="" method="get">
            <div class="row">
                <div class="col">
                    <input type="text" class="form-control" name="query" placeholder="Search">
                    <input type="hidden" name="search_by" value="name">
                </div>
                <div class="col">
                    <button type="submit" class="btn btn-outline-success">Search</button>
                </div>
            </div>
        </form>
        <form action="" method="get">
            <div class="row">
                <div class="col">
                        <select name = "select" class="form-control">
                            <option value="Всё">All</option>
                            <option value="Северный">Nord</option>
                            <option value="Центральный">Middle</option>
                            <option value="Южный">South</option>
                        </select>
                    <input type="hidden" name="search_by" value="reg">
                </div>
                <div class="col">
                    <button type="submit" class="btn btn-outline-success">Search</button>
                </div>
            </div>
        </form>
        <ul class="nav nav-pills" >
          <li class="nav-item"><a href="http://127.0.0.1:8000/manage" class="nav-link">Admin</a></li>
          <li class="nav-item"><a href="http://127.0.0.1:8000/" class="nav-link">User</a></li>
        </ul>
      </header>
    <form action="" method="get">
            <div class="row">
                <div class="col">
                        <select name = "select" class="form-control">
                            <option value="Всё">All</option>
                            <option value="Северный">Nord</option>
                            <option value="Центральный">Middle</option>
                            <option value="Южный">South</option>
                        </select>
                    <input type="hidden" name="search_by" value="reg">
                </div>
                <div class="col">
                    <button type="submit" class="btn btn-outline-success">Search</button>
                </div>
            </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
            Default checkbox
            </label>
        </div>
    </form>

</body>
</html>